
<div class="fo-info">
    <div class="fo-icons">
        <div class="icons">
              <i class="fa-brands fa-square-facebook"></i>
              <i class="fa-brands fa-square-instagram"></i>
              <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
    <div class="fo-log-copy">&copy;WonderLust</div>
    <div class="fo-terms">
        <a href="#">Privacy</a>
         <a href="#">Terms</a>
          <a href="#">Company details</a>
    </div>
</div>

