<style>
.search-btn i{
  display: inline;
  margin-right: .5rem;
  
  
  }
  .search-btn {
border-radius: 25px;
  }
  .search-inp{
    padding: 0 3rem 0 3rem;
    border-radius: 25px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-expand-mb bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass logo"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
     <div class="navbar-nav">
      <!-- <a class="nav-link dark" aria-current="page" href="/">Home</a> -->
      <a class="nav-link dark" href="/listings">Explore</a>
      
     </div>
<!--  search -->
     <div class="navbar-nav ms-auto">
      <form class="d-flex" role="search" action="/search" method="get">
        <input class="form-control me-2 search-inp" type="text" name="search" placeholder="Search Anything" aria-label="Search"/>
        <button class="btn btn-outline-success search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
      </form>
     </div>

    <!-- login signup and logout -->
     <div class="navbar-nav ms-auto" >

      <% if(currUser){ %>
         <a class="nav-link dark" href="/listings/new">airbnb your home</a>
        <a class="nav-link dark" href="/logout"><b>LogOut</b></a>
        <% }%>

         <% if(!currUser){ %>
      <a class="nav-link dark" aria-current="page" href="/signup"><b>SignUp</b></a>
      <a class="nav-link dark" href="/login"><b>Login</b></a>
       
        <% } %>
        
     
         </div>
    </div>
  </div>
</nav>