<% layout('layouts/boilerplate') -%>
<style>
  #filter{
    display: flex;
    flex-wrap: wrap;
    
  }
  .filters{
    margin-right: 2rem;
    text-align: center;
    margin-top: 1rem !important;
    opacity: .7;
    
  }
  .filters p{
    font-size: .8rem;
  }
  .filters:hover{
    opacity: 1;
    cursor: pointer;
  }
  .checkToggle{
    margin-left: 5rem;
    height: 3.25rem;
    text-align: center;
    margin-top: 1rem !important;
    border: 1px  solid gray;
   outline: none;
    border-radius: .5rem;
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
    float: right;
    justify-content: center;
    align-items: center;
   
  }
  .tax-info{
    display: none;
  }
  
</style>


<body>
<!-- filters -->
 <div id="filter">
  <div class="filters">
   <i class="fa-solid fa-fire"></i>
    <p>Trending</p>
  </div>
  <div class="filters">
    
    <i class="fa-regular fa-house" ></i>
    <p>rooms</p>
  </div>
   <div class="filters">
   <i class="fa-solid fa-building"></i>
    <p>Iconic cities</p>
  </div>
   <div class="filters">
    <i class="fa-solid fa-person-swimming"></i>
    <p>Amazing Pools</p>
  </div>
   <div class="filters">
    <i class="fa-solid fa-umbrella"></i>
    <p>Beach</p>
  </div>
   <div class="filters">
   <i class="fa-solid fa-cow"></i>
    <p>farms</p>
  </div>
   
   <div class="filters">
    <i class="fa-solid fa-snowflake"></i>
    <p>Arctic</p>
  </div>
  <div class="filters">
    <i class="fa-solid fa-train-subway"></i>
    <p>Metro city</p>
  </div>
  <div class="filters">
    <i class="fa-solid fa-mountain"></i>
    <p>Mountain</p>
  </div>
  <div class="filters">
   <i class="fa-solid fa-mountain-city"></i>
    <p>Mountain city</p>
  </div>

  <div class="checkToggle">
    <div class="form-check form-check-reverse text-center" >
  <input class="form-check-input" type="checkbox" value="" id="reverseCheck1">
  <label class="form-check-label" for="reverseCheck1">
    Reverse checkbox
  </label>
</div>

  </div>
  
 </div>

 <div class="row row-cols-lg-3 row-cols-mb-2 row-cols-sm-1">
   <% for (let list of allListing) { %>
      <a href="/listings/show/<%= list._id %>" class="card-anchor">
      <div class="card col cardDiv" style="width: 22rem;">
        <img src="<%= list.image.url %>" class="card-img-top card-img-top1 " alt="Listing-cards">
       
       <p class="card-text"><b><%= list.title %></b><br>&#8377;<%= list.price %>/night
            &nbsp; &nbsp;<i class="tax-info">18 % GST</i></p>
     
     </div>
  </a>
   <% } %>
      </a>
    
  </div>

  <script>
    let toggleBtn=document.getElementById('reverseCheck1')
    let taxes=document.getElementsByClassName('tax-info')
    toggleBtn.addEventListener('click',()=>{
      for(let tax of taxes){
      if(tax.style.display!="inline"){
        tax.style.display="inline"
      }else{
        tax.style.display="none"
      }
      }
    })
  </script>
</body>


